<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find your IP address. Quickly and securely learn your IPv4 and IPv6 addresses.">
    <meta name="keywords" content="IP, IPv4, IPv6, Find IP Address, Query IP">
    <title>Find My IP Address</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body class="bg-light">
    <div class="container mt-5 bg-white p-5 border rounded">
        <h1 class="mb-4">My IP Address</h1>
        <div class="bg-white p-3 rounded">
            <p id="ipv4" style="font-size: 20px;"><b>IPv4:</b> Loading...</p>
            <p id="ipv6" style="font-size: 20px;"><b>IPv6:</b> Loading...</p>
        </div>
        <div id="copyNotification" class="alert alert-success" style="display:none;" role="alert">
            Copied
        </div>
    </div>

    <script>
        function showCopyNotification() {
            var notification = document.getElementById('copyNotification');
            notification.style.display = 'block';
            setTimeout(function() {
                notification.style.display = 'none';
            }, 2000); // 2 saniye sonra bildirimi gizle
        }

        fetch('https://api64.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
            document.getElementById('ipv4').innerHTML = '<b>IPv4:</b> ' + data.ip + ' <i class="fas fa-copy" style="cursor: pointer;" onclick="navigator.clipboard.writeText(\'' + data.ip + '\'); showCopyNotification();" title="Copy"></i>';
        })
        .catch(error => console.error('Error:', error));

        fetch('https://api64.ipify.org?format=json&format=ipv6')
        .then(response => response.json())
        .then(data => {
            document.getElementById('ipv6').innerHTML = '<b>IPv6:</b> ' + data.ip + ' <i class="fas fa-copy" style="cursor: pointer;" onclick="navigator.clipboard.writeText(\'' + data.ip + '\'); showCopyNotification();" title="Copy"></i>';
        })
        .catch(error => console.error('Error:', error));
    </script>
</body>

</html>
