<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dynamic QR code generator. Quickly create your custom QR codes for VCARD, URL, MAP, Twitter, and Youtube.">
    <meta name="keywords" content="QR code, QR generator, VCARD QR, URL QR, MAP QR, Twitter QR, Youtube QR">
    <meta name="author" content="QR Code Generator">
    <title>
        <%= title %> | QR Code Generator
    </title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="bg-light">
    <header>
        <h1 class="text-center mb-4">
            <%= title %>
        </h1>
    </header>
    <main class="container mt-5">
        <section>
            <div class="row">
                <div class="col-md-8 bg-white p-4 border-right text-white">
                    <form id="qrForm" aria-label="QR Code Generator">
                        <!-- Bootstrap Tab Start -->
                        <ul class="nav nav-tabs" id="typeTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="vcard-tab" data-toggle="tab" href="#vcard" role="tab"
                                    aria-controls="vcard" aria-selected="true">VCARD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="url-tab" data-toggle="tab" href="#url" role="tab"
                                    aria-controls="url" aria-selected="false">URL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab"
                                    aria-controls="map" aria-selected="false">MAP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="twitter-tab" data-toggle="tab" href="#twitter" role="tab"
                                    aria-controls="twitter" aria-selected="false">Twitter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="youtube-tab" data-toggle="tab" href="#youtube" role="tab"
                                    aria-controls="youtube" aria-selected="false">Youtube</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="whatsapp-tab" data-toggle="tab" href="#whatsapp" role="tab"
                                    aria-controls="whatsapp" aria-selected="false">Whatsapp</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="typeTabContent">
                            <div class="tab-pane fade show active" id="vcard" role="tabpanel"
                                aria-labelledby="vcard-tab">
                                <!-- VCARD Contents -->
                            </div>
                            <div class="tab-pane fade" id="url" role="tabpanel" aria-labelledby="url-tab">
                                <!-- URL Contents -->
                            </div>
                            <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
                                <!-- MAP Contents -->
                            </div>
                            <div class="tab-pane fade" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">
                                <!-- Twitter Contents -->
                            </div>
                            <div class="tab-pane fade" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">
                                <!-- Youtube Contents -->
                            </div>
                            <div class="tab-pane fade" id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
                                <!-- Whatsapp Contents -->
                                <input type="text" class="form-control mt-2" name="phone" placeholder="Phone Number with County Code" />
                                <input type="text" class="form-control mt-2" name="message" placeholder="Message" />
                            </div>
                        </div>
                        <!-- Bootstrap Tab End -->
                        <div id="inputFields">
                            <!-- VCARD Input Fields -->
                            <div class="input-group">
                                <input type="text" class="form-control mt-2" name="FN" placeholder="First Name" />
                                <input type="text" class="form-control mt-2" name="LN" placeholder="Last Name" />
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control mt-2" name="ORG" placeholder="Company" />
                                <input type="text" class="form-control mt-2" name="TITLE" placeholder="Title" />
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control mt-2" name="ADR" placeholder="Address" />
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control mt-2" name="CITY" placeholder="City" />
                                <input type="text" class="form-control mt-2" name="ZIP" placeholder="Postal Code" />
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control mt-2" name="STATE" placeholder="State" />
                                <input type="text" class="form-control mt-2" name="COUNTRY" placeholder="Country" />
                            </div>
                            <input type="text" class="form-control mt-2" name="TEL;WORK;VOICE"
                                placeholder="Work Phone" />
                            <input type="text" class="form-control mt-2" name="TEL;CELL" placeholder="Mobile Phone" />
                            <input type="text" class="form-control mt-2" name="TEL;FAX" placeholder="Fax" />
                            <input type="email" class="form-control mt-2" name="EMAIL;WORK;INTERNET"
                                placeholder="Email" />
                            <input type="url" class="form-control mt-2" name="URL" placeholder="Website" />
                        </div>
                    </form>
                </div>
                <div class="col-md-4 bg-white p-4 text-white d-flex flex-column align-items-center">
                    <img id="qrImage" class="img-fluid" src="https://via.placeholder.com/150"
                        style="max-width: 100%; height: auto;" alt="Generated QR Code Placeholder" />
                    <button type="submit" form="qrForm" class="btn btn-primary mt-3">Generate QR</button>
                    <button id="downloadQR" class="btn btn-success mt-3" disabled>Download QR</button>
                </div>
                <script>
                    // QR kodu oluşturulduktan sonra Download butonunu etkinleştir
                    // Bu örnekte, QR kodunun oluşturulduğunu simüle etmek için basit bir mantık kullanılmıştır.
                    // Gerçek bir uygulamada, QR kodunun başarıyla oluşturulup oluşturulmadığını kontrol eden bir mantık olmalıdır.
                    document.getElementById('qrForm').addEventListener('submit', function () {
                        // QR kodu oluşturulduğunu varsayalım ve Download butonunu etkinleştir
                        document.getElementById('downloadQR').disabled = false;
                    });

                    // Download butonuna tıklandığında QR kodunu indir
                    document.getElementById('downloadQR').addEventListener('click', function () {
                        var qrImageSrc = document.getElementById('qrImage').src;
                        // Basit bir indirme işlemi gerçekleştir
                        var a = document.createElement('a');
                        a.href = qrImageSrc;
                        a.download = 'GeneratedQR.png'; // İndirilecek dosyanın adı
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    });
                </script>
            </div>
        <footer class="text-center mt-4">
            Written by <a href="https://endrcn.dev" target="_blank">endrcn.dev</a>
        </footer>
        </section>
    </main>
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
        integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
        crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
        integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
        crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
        crossorigin='anonymous'></script>
    <script>
        $(document).ready(function () {
            $('#vcard-tab').click(); // Automatically trigger click on VCARD tab to populate input fields on page load
        });

        $('#typeTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
            var type = $(this).attr('id').split('-')[0]; // Get type from tab ID
            var inputFields = document.getElementById('inputFields');
            inputFields.innerHTML = ''; // Clear previous inputs
            switch (type) {
                case 'vcard':
                    inputFields.innerHTML += '<div class="input-group">' +
                        '<input type="text" class="form-control mt-2" name="FN" placeholder="First Name"/>' +
                        '<input type="text" class="form-control mt-2" name="LN" placeholder="Last Name"/>' +
                        '</div>' +
                        '<div class="input-group">' +
                        '<input type="text" class="form-control mt-2" name="ORG" placeholder="Company"/>' +
                        '<input type="text" class="form-control mt-2" name="TITLE" placeholder="Title"/>' +
                        '</div>' +
                        '<div class="input-group">' +
                        '<input type="text" class="form-control mt-2" name="ADR" placeholder="Address"/>' +
                        '</div>' +
                        '<div class="input-group">' +
                        '<input type="text" class="form-control mt-2" name="CITY" placeholder="City"/>' +
                        '<input type="text" class="form-control mt-2" name="ZIP" placeholder="Postal Code"/>' +
                        '</div>' +
                        '<div class="input-group">' +
                        '<input type="text" class="form-control mt-2" name="STATE" placeholder="State"/>' +
                        '<input type="text" class="form-control mt-2" name="COUNTRY" placeholder="Country"/>' +
                        '</div>' +
                        '<input type="text" class="form-control mt-2" name="TEL;WORK;VOICE" placeholder="Work Phone"/>' +
                        '<input type="text" class="form-control mt-2" name="TEL;CELL" placeholder="Mobile Phone"/>' +
                        '<input type="text" class="form-control mt-2" name="TEL;FAX" placeholder="Fax"/>' +
                        '<input type="email" class="form-control mt-2" name="EMAIL;WORK;INTERNET" placeholder="Email"/>' +
                        '<input type="url" class="form-control mt-2" name="URL" placeholder="Website"/>';
                    break;
                case 'url':
                    inputFields.innerHTML += '<input type="text" class="form-control mt-2" name="url" placeholder="URL"/>';
                    break;
                case 'map':
                    inputFields.innerHTML += '<input type="text" class="form-control mt-2" name="location" placeholder="Location"/>';
                    break;
                case 'twitter':
                    inputFields.innerHTML += '<div class="input-group mb-3 mt-2"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">https://x.com/</span></div>' +
                        '<input type="text" class="form-control" name="twitter" placeholder="username" aria-describedby="basic-addon3"></div>';
                    break;
                case 'youtube':
                    inputFields.innerHTML += '<div class="input-group mb-3 mt-2"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">https://youtube.com/</span></div>' +
                        '<input type="text" class="form-control" name="youtube" placeholder="username" aria-describedby="basic-addon3"></div>';
                    break;
            }
        });

        document.getElementById('qrForm').addEventListener('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            var queryString = '';
            var activeTab = $('#typeTab .active').attr('id').split('-')[0]; // Get type from active tab ID
            if (activeTab === 'vcard') {
                queryString = 'BEGIN:VCARD\nVERSION:3.0\n';
                formData.forEach((value, key) => {
                    if (key === 'FN' || key === 'LN') {
                        queryString += 'N:' + formData.get('LN') + ';' + formData.get('FN') + '\n';
                    } else if (key === 'TEL;WORK;VOICE' || key === 'TEL;CELL' || key === 'TEL;FAX') {
                        queryString += key.toUpperCase() + ':' + value + '\n';
                    } else if (key === 'EMAIL;WORK;INTERNET') {
                        queryString += 'EMAIL;WORK;INTERNET:' + value + '\n';
                    } else if (key === 'URL') {
                        queryString += 'URL:' + value + '\n';
                    } else if (key !== 'FN' && key !== 'LN') {
                        queryString += key.toUpperCase() + ':' + value + '\n';
                    }
                });
                queryString += 'END:VCARD';
                queryString = encodeURIComponent(queryString);
            } else if (activeTab === 'whatsapp') {
                queryString = "https://wa.me/" + formData.get("phone") + "?text=" + encodeURIComponent(formData.get("message"));
            } else if (activeTab === 'twitter') {
                queryString = "https://x.com/" + formData.get("twitter");
            } else if (activeTab === 'youtube') {
                queryString = "https://youtube.com/" + formData.get("youtube");
            } else {
                queryString = new URLSearchParams(formData).toString();
            }
            fetch('/qr/generator?data=' + queryString)
                .then(response => response.blob())
                .then(blob => {
                    var img = document.getElementById('qrImage');
                    img.src = URL.createObjectURL(blob);
                    img.style.display = 'block';
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3093952790458444"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVM1GKJE37"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MVM1GKJE37');
    </script>
</body>

</html>